In [36]:
import numpy as np
import pandas as pd
import os.path
from pandas import Series, DataFrame
import geopandas as gpd
from shapely.geometry import Polygon

In [3]:
data_files = ['traffic_density_202101.csv', 'traffic_density_202102.csv', 'traffic_density_202103.csv', 
              'traffic_density_202104.csv', 'traffic_density_202105.csv', 'traffic_density_202106.csv',
              'traffic_density_202107.csv', 'traffic_density_202108.csv', 'traffic_density_202109.csv',
              'traffic_density_202110.csv', 'traffic_density_202111.csv', 'traffic_density_202112.csv']
traffic_df = pd.concat((pd.read_csv(filename) for filename in data_files))
traffic_df.describe()

,LATITUDE,LONGITUDE,MAXIMUM_SPEED,MINIMUM_SPEED,AVERAGE_SPEED,NUMBER_OF_VEHICLES
count,1.974586e+07,1.974586e+07,1.974586e+07,1.974586e+07,1.974586e+07,1.974586e+07
mean,2.888215e+01,4.106392e+01,9.775048e+01,2.531070e+01,5.626615e+01,7.190516e+01
std,3.551876e-01,1.002462e-01,3.515620e+01,2.464502e+01,2.478793e+01,9.411314e+01
min,2.796570e+01,4.074554e+01,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00
25%,2.869080e+01,4.099823e+01,7.000000e+01,6.000000e+00,3.400000e+01,1.300000e+01
50%,2.893250e+01,4.105865e+01,9.600000e+01,1.300000e+01,5.600000e+01,3.800000e+01
75%,2.914124e+01,4.113007e+01,1.240000e+02,4.600000e+01,7.900000e+01,9.200000e+01
max,2.988831e+01,4.164642e+01,2.550000e+02,2.430000e+02,2.430000e+02,1.351000e+03

In [4]:
traffic_df['DATE_TIME'] = pd.to_datetime(traffic_df['DATE_TIME'])

In [5]:
traffic_df['LATITUDE'] = traffic_df['LATITUDE'].round(3)
traffic_df['LONGITUDE'] = traffic_df['LONGITUDE'].round(3)

In [8]:
agg_traffic_df = traffic_df.groupby([pd.Grouper(key='DATE_TIME', axis=0, freq='3h'), 'LATITUDE', 'LONGITUDE']).agg({
    'MAXIMUM_SPEED': 'max',
    'MINIMUM_SPEED': 'min',
    'AVERAGE_SPEED': 'mean',
    'NUMBER_OF_VEHICLES': 'sum'
}).reset_index()

agg_traffic_df

,DATE_TIME,LATITUDE,LONGITUDE,MAXIMUM_SPEED,MINIMUM_SPEED,AVERAGE_SPEED,NUMBER_OF_VEHICLES
0,2021-01-01 00:00:00,27.966,40.982,127,59,90.000000,16
1,2021-01-01 00:00:00,27.966,40.987,127,31,82.333333,16
2,2021-01-01 00:00:00,27.966,41.097,105,44,73.333333,8
3,2021-01-01 00:00:00,27.966,41.212,120,73,87.000000,22
4,2021-01-01 00:00:00,27.966,41.333,80,15,54.000000,8
...,...,...,...,...,...,...,...
6801450,2021-12-31 21:00:00,29.614,41.152,102,76,84.500000,2
6801451,2021-12-31 21:00:00,29.614,41.158,88,19,48.666667,4
6801452,2021-12-31 21:00:00,29.625,41.152,91,56,73.000000,4
6801453,2021-12-31 21:00:00,29.625,41.158,80,45,70.333333,3
6801454,2021-12-31 21:00:00,29.636,41.158,61,50,55.000000,2

In [9]:
def min_max_scaling(column):
    min_value = column.min()
    max_value = column.max()
    return (column - min_value) / (max_value - min_value)

agg_traffic_df['Normalized_MAXIMUM_SPEED'] = min_max_scaling(agg_traffic_df['MAXIMUM_SPEED'])
agg_traffic_df['Normalized_MINIMUM_SPEED'] = min_max_scaling(agg_traffic_df['MINIMUM_SPEED'])
agg_traffic_df['Normalized_AVERAGE_SPEED'] = min_max_scaling(agg_traffic_df['AVERAGE_SPEED'])
agg_traffic_df['Normalized_NUMBER_OF_VEHICLES'] = min_max_scaling(agg_traffic_df['NUMBER_OF_VEHICLES'])

In [11]:
w1 = 0.2  # MAXIMUM_SPEED
w2 = 0.4  # MINIMUM_SPEED
w3 = 0.3  # AVERAGE_SPEED
w4 = 0.5  # NUMBER_OF_VEHICLES

agg_traffic_df['Traffic_Density'] = w1 * agg_traffic_df['Normalized_MAXIMUM_SPEED'] + \
                                      w2 * agg_traffic_df['Normalized_MINIMUM_SPEED'] + \
                                      w3 * agg_traffic_df['Normalized_AVERAGE_SPEED'] + \
                                      w4 * agg_traffic_df['Normalized_NUMBER_OF_VEHICLES']

print(agg_traffic_df[['Traffic_Density']])

         Traffic_Density
0               0.308780
1               0.253185
2               0.244975
3               0.323441
4               0.153587
...                  ...
6801450         0.308284
6801451         0.159294
6801452         0.252727
6801453         0.222512
6801454         0.196632

[6801455 rows x 1 columns]

In [51]:
location_df = pd.read_excel('location.xlsx')
location_df['Location'] = location_df['Location'].str.replace("'", '')

location_df[['lat1', 'lon1', 'lat2', 'lon2', 'lat3', 'lon3']] = location_df['Location'].str.split(',', expand=True)

location_df.columns = ['name','Location', 'lat1', 'lon1', 'lat2', 'lon2', 'lat3', 'lon3']

location_df = location_df.drop('Location', axis=1)

location_df['lat1'] = location_df['lat1'].astype(float)
location_df['lon1'] = location_df['lon1'].astype(float)
location_df['lat2'] = location_df['lat2'].astype(float)
location_df['lon2'] = location_df['lon2'].astype(float)
location_df['lat3'] = location_df['lat3'].astype(float)
location_df['lon3'] = location_df['lon3'].astype(float)

In [61]:
location_df

,name,lat1,lon1,lat2,lon2,lat3,lon3
0,ADALAR,40.876377,29.095444,40.914627,29.148194,40.837376,29.039114
1,ARNAVUTKÖY,41.200000,28.733333,41.208395,28.749340,41.191604,28.717326
2,ATAŞEHİR,40.983333,29.116667,41.009525,29.212240,40.959029,29.072244
3,AVCILAR,41.015348,28.731462,41.106113,28.756692,40.969100,28.681979
4,BAĞCILAR,41.045556,28.840556,41.072214,28.872690,41.017565,28.807967
5,BAHÇELİEVLER,40.997500,28.850556,41.027850,28.884746,40.991660,28.805903
6,BAKIRKÖY,40.968155,28.822800,41.007142,28.896622,40.954508,28.773472
7,BAŞAKŞEHİR,41.077895,28.812551,41.149446,28.823924,41.057844,28.639130
8,BAYRAMPAŞA,41.048150,28.900455,41.077101,28.923980,41.025852,28.878448
9,BEŞİKTAŞ,41.068616,29.028536,41.106452,29.055098,41.036762,28.991826
10,BEYKOZ,41.132719,29.105690,41.141123,29.121697,41.124314,29.089683
11,BEYLİKDÜZÜ,40.991038,28.649814,41.018631,28.698390,40.957305,28.595554
12,BEYOĞLU,41.038286,28.970330,41.065071,28.995755,41.021025,28.939004
13,BÜYÜKÇEKMECE,41.034133,28.590003,41.129654,28.634821,40.984576,28.390983
14,ÇATALCA,41.148239,28.467730,41.156641,28.483737,41.139836,28.451723
15,ÇEKMEKÖY,41.104235,29.317727,41.132670,29.401125,41.012979,29.138379
16,ESENLER,41.079413,28.853855,41.135797,28.900626,41.017275,28.813479
17,ESENYURT,41.034281,28.680119,41.098539,28.701900,40.999071,28.620525
18,EYÜPSULTAN,41.187160,28.882982,41.306537,28.976283,41.024339,28.770507
19,FATİH,41.016667,28.933333,41.040841,28.988072,40.987637,28.919037
20,GAZİOSMANPAŞA,41.075948,28.900455,41.096741,28.939195,41.051592,28.874389
21,GÜNGÖREN,41.016667,28.883333,41.038473,28.900905,41.001386,28.858493
22,KADIKÖY,40.980141,29.082270,41.012268,29.111257,40.949998,29.014849
23,KAĞITHANE,41.071000,28.970000,41.112959,29.008107,41.052908,28.949372
24,KARTAL,40.899651,29.193649,40.964925,29.255199,40.878129,29.138289
25,KÜÇÜKÇEKMECE,41.008658,28.775342,41.064103,28.821700,40.977276,28.739023
26,MALTEPE,40.949047,29.174109,40.981235,29.216277,40.906637,29.094810
27,PENDİK,40.879326,29.258135,40.887762,29.274142,40.870889,29.242128
28,SANCAKTEPE,41.028703,29.290183,41.052722,29.364344,40.946046,29.182914
29,SARIYER,41.166328,29.049950,41.174727,29.065957,41.157928,29.033943
30,SİLİVRİ,41.080158,28.268290,41.088568,28.284297,41.071747,28.252283
31,SULTANBEYLİ,40.961112,29.266944,41.004896,29.311989,40.931768,29.244706
32,SULTANGAZİ,41.125579,28.871331,41.159735,28.922422,41.081541,28.824494
33,ŞİLE,41.176389,29.612778,41.182252,29.658350,41.152742,29.568199
34,ŞİŞLİ,41.060000,28.987000,41.149289,29.025922,41.039196,28.958668
35,TUZLA,40.842000,29.295000,40.980648,29.456523,40.802689,29.254621
36,ÜMRANİYE,41.030300,29.106500,41.065545,29.197190,40.988965,29.080313
37,ÜSKÜDAR,41.032236,29.031938,41.077997,29.091718,40.992500,29.006362
38,ZEYTİNBURNU,40.990635,28.896140,41.032476,28.928996,40.977844,28.889444

In [58]:
geometry = [Polygon([(lon1, lat1), (lon2, lat2), (lon3, lat3)]) for lat1, lon1, lat2, lon2, lat3, lon3 in zip(location_df['lat1'], location_df['lon1'], location_df['lat2'], location_df['lon2'], location_df['lat3'], location_df['lon3'])]
gdf = gpd.GeoDataFrame(location_df, geometry=geometry, crs="EPSG:4326")

# Convert DF1 to a GeoDataFrame
gdf1 = gpd.GeoDataFrame(agg_traffic_df, geometry=gpd.points_from_xy(agg_traffic_df['LONGITUDE'], agg_traffic_df['LATITUDE']), crs="EPSG:4326")

# Perform a spatial join
result = gpd.sjoin(gdf1, gdf, how='left', op='within')

C:\Users\m1273747\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py:3337: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):

In [60]:
result.describe()

,DATE_TIME,LATITUDE,LONGITUDE,MAXIMUM_SPEED,MINIMUM_SPEED,AVERAGE_SPEED,NUMBER_OF_VEHICLES,Normalized_MAXIMUM_SPEED,Normalized_MINIMUM_SPEED,Normalized_AVERAGE_SPEED,Normalized_NUMBER_OF_VEHICLES,Traffic_Density,index_right,lat1,lon1,lat2,lon2,lat3,lon3
count,6801455,6.801455e+06,6.801455e+06,6.801455e+06,6.801455e+06,6.801455e+06,6.801455e+06,6.801455e+06,6.801455e+06,6.801455e+06,6.801455e+06,6.801455e+06,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,2021-07-03 16:27:22.972216832,2.888234e+01,4.106509e+01,1.063008e+02,2.002925e+01,5.634445e+01,2.087537e+02,4.145700e-01,8.242489e-02,2.286961e-01,5.865435e-02,2.138200e-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,2021-01-01 00:00:00,2.796600e+01,4.074600e+01,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.646091e-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,2021-04-01 15:00:00,2.869100e+01,4.100400e+01,7.600000e+01,3.000000e+00,3.433333e+01,3.900000e+01,2.952756e-01,1.234568e-02,1.377410e-01,1.072840e-02,1.339120e-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,2021-07-07 00:00:00,2.893200e+01,4.105900e+01,1.050000e+02,8.000000e+00,5.600000e+01,1.110000e+02,4.094488e-01,3.292181e-02,2.272727e-01,3.105590e-02,2.106340e-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,2021-10-03 21:00:00,2.914100e+01,4.113600e+01,1.350000e+02,3.600000e+01,7.866667e+01,2.700000e+02,5.275591e-01,1.481481e-01,3.209366e-01,7.594579e-02,2.855053e-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2021-12-31 21:00:00,2.988800e+01,4.164600e+01,2.550000e+02,2.430000e+02,2.430000e+02,3.543000e+03,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,8.905512e-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,3.571340e-01,1.005030e-01,3.679153e+01,2.192709e+01,2.432723e+01,2.731705e+02,1.448486e-01,9.023495e-02,1.005258e-01,7.712325e-02,8.904102e-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
psych_df = pd.read_excel('psych.xlsx')

,İlçe,Psikolojik Rahatsızlık_Evet,Psikolojik Rahatsızlık_Hayır,Location
0,ADALAR,2,360,"'40.87637720', '29.09544400', '40.91462700', '..."
1,ARNAVUTKÖY,11,819,"'41.20000000', '28.73333300', '41.20839490', '..."
2,ATAŞEHİR,45,1373,"'40.98333330', '29.11666670', '41.00952500', '..."
3,AVCILAR,2,1403,"'41.01534790', '28.73146180', '41.10611300', '..."
4,BAĞCILAR,4,2047,"'41.04555560', '28.84055560', '41.07221400', '..."
5,BAHÇELİEVLER,8,1910,"'40.99750000', '28.85055560', '41.02785000', '..."
6,BAKIRKÖY,16,807,"'40.96815500', '28.82280000', '41.00714200', '..."
7,BAŞAKŞEHİR,7,1395,"'41.07789500', '28.81255100', '41.14944600', '..."
8,BAYRAMPAŞA,18,846,"'41.04815030', '28.90045530', '41.07710100', '..."
9,BEŞİKTAŞ,5,759,"'41.06861600', '29.02853550', '41.10645200', '..."
10,BEYKOZ,23,766,"'41.13271900', '29.10569000', '41.14112250', '..."
11,BEYLİKDÜZÜ,12,1165,"'40.99103810', '28.64981440', '41.01863100', '..."
12,BEYOĞLU,20,781,"'41.03828640', '28.97033040', '41.06507100', '..."
13,BÜYÜKÇEKMECE,14,814,"'41.03413300', '28.59000300', '41.12965400', '..."
14,ÇATALCA,2,370,"'41.14823900', '28.46773000', '41.15664050', '..."
15,ÇEKMEKÖY,3,844,"'41.10423500', '29.31772720', '41.13267000', '..."
16,ESENLER,39,1251,"'41.07941330', '28.85385450', '41.13579700', '..."
17,ESENYURT,26,2917,"'41.03428060', '28.68011940', '41.09853900', '..."
18,EYÜPSULTAN,29,1315,"'41.18715980', '28.88298160', '41.30653700', '..."
19,FATİH,33,1390,"'41.01666670', '28.93333330', '41.04084100', '..."
20,GAZİOSMANPAŞA,35,1482,"'41.07594770', '28.90045530', '41.09674100', '..."
21,GÜNGÖREN,23,869,"'41.01666670', '28.88333330', '41.03847300', '..."
22,KADIKÖY,3,2058,"'40.98014100', '29.08227000', '41.01226800', '..."
23,KAĞITHANE,35,1440,"'41.07100000', '28.97000000', '41.11295900', '..."
24,KARTAL,14,1572,"'40.89965100', '29.19364900', '40.96492500', '..."
25,KÜÇÜKÇEKMECE,14,2571,"'41.00865800', '28.77534200', '41.06410300', '..."
26,MALTEPE,23,1756,"'40.94904700', '29.17410900', '40.98123500', '..."
27,PENDİK,30,2213,"'40.87932600', '29.25813500', '40.88776190', '..."
28,SANCAKTEPE,23,1285,"'41.02870280', '29.29018290', '41.05272200', '..."
29,SARIYER,21,1161,"'41.16632800', '29.04995000', '41.17472720', '..."
30,SİLİVRİ,2,616,"'41.08015800', '28.26829000', '41.08856830', '..."
31,SULTANBEYLİ,22,848,"'40.96111230', '29.26694380', '41.00489600', '..."
32,SULTANGAZİ,33,1401,"'41.12557940', '28.87133140', '41.15973500', '..."
33,ŞİLE,1,373,"'41.17638890', '29.61277780', '41.18225200', '..."
34,ŞİŞLİ,16,1105,"'41.06000000', '28.98700000', '41.14928900', '..."
35,TUZLA,7,862,"'40.84200000', '29.29500000', '40.98064800', '..."
36,ÜMRANİYE,31,2181,"'41.03030000', '29.10650000', '41.06554500', '..."
37,ÜSKÜDAR,56,1727,"'41.03223600', '29.03193800', '41.07799700', '..."
38,ZEYTİNBURNU,20,810,"'40.99063500', '28.89614000', '41.03247600', '..."